@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 10px;
}

.big-container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.subtitle {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.1875;
  text-transform: uppercase;
}

body {
  font-family: "RobotoCondensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--black);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

/* Скрытие заголовка */
:root {
  --black: #040404;
  --dark-grey: #363636;
  --gold: #9F6B08;
  --light-gold: #F9CE5C;
  --gradient-light: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
  --white: #FFFFFF;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("/scss/components/fonts/RobotoCondensed-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("/scss/components/fonts/RobotoCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("/scss/components/fonts/RobotoCondensed-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Impact";
  src: url("/fonts/impact.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("/scss/components/fonts/RobotoCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
.header {
  padding-top: 25px;
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__container {
  max-width: 1200px;
  padding: 0 80px 0 25px;
}
.nav__menu-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 45px;
  height: 30px;
  border-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
}
.nav__menu-btn span {
  width: 100%;
  height: 3px;
  background-color: var(--black);
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__menu-btn:hover span, .nav__menu-btn:focus span {
  background-color: var(--gold);
}
.nav__menu-mobile {
  display: none;
}
.nav__menu-mobile.menu--open {
  padding-top: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-grey);
  z-index: 2;
  text-align: center;
}
.nav__menu-list {
  display: flex;
  gap: 40px;
  padding-top: 25px;
}
.nav__menu-link {
  font-size: 16px;
  line-height: 1.125;
  color: var(--dark-grey);
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__menu-link:hover, .nav__menu-link:focus {
  color: var(--gold);
}
@media screen and (width < 1100px) {
  .nav__menu-list {
    display: none;
  }
  .nav__menu-mobile {
    display: flex;
    gap: 0 20px;
  }
}
@media screen and (width < 840px) {
  .nav__menu-btn {
    display: flex;
  }
  .nav__menu-mobile {
    display: none;
  }
  .nav__menu-link {
    padding: 20px 0;
    display: block;
    font-size: 3vh;
    color: var(--white);
  }
}
@media screen and (width < 560px) {
  .nav__menu-btn {
    width: 30px;
    height: 20px;
  }
}
@media screen and (width < 340px) {
  .nav__menu-link {
    padding: 15px 0;
  }
}

@media screen and (width < 1100px) {
  .logo img {
    width: 50px;
  }
}
@media screen and (width < 840px) {
  .logo {
    z-index: 3;
  }
}

.hero {
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__inner {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  min-height: 100vh;
  text-align: center;
  font-family: "Impact", sans-serif;
  color: var(--black);
}
.hero__title {
  margin-bottom: 10px;
  font-size: 76px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.hero__subtitle {
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 400;
  border-bottom: 1px solid var(--black);
  align-self: center;
}
.hero__subtitle span {
  padding: 10px 0;
  display: block;
  font-size: 34px;
  color: var(--gold);
}
.hero__text {
  margin-bottom: 10px;
  font-family: "RobotoCondensed", sans-serif;
  font-size: 16px;
  color: var(--dark-grey);
}
.hero__arrow {
  margin-top: auto;
  margin-bottom: 30px;
  align-self: center;
}
.hero__arrow:hover .hero__arrow-svg {
  fill: var(--gold);
  color: var(--gold);
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (width < 1100px) {
  .hero {
    background-position: left center;
  }
  .hero__title {
    font-size: 64px;
  }
  .hero__subtitle {
    font-size: 42px;
  }
  .hero__subtitle span {
    font-size: 32px;
  }
}
@media screen and (width < 560px) {
  .hero__title {
    font-size: 48px;
  }
  .hero__subtitle {
    font-size: 34px;
  }
  .hero__subtitle span {
    font-size: 26px;
  }
}
@media screen and (width < 340px) {
  .hero__title {
    font-size: 42px;
  }
  .hero__subtitle {
    font-size: 30px;
  }
  .hero__subtitle span {
    font-size: 24px;
  }
}

.info {
  margin-bottom: 100px;
}
.info__part {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.info__part--padding {
  padding-bottom: 66px;
}
.info__part--block {
  display: block;
}
.info__part-textbox {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.info__text {
  flex-basis: 438px;
  margin-bottom: 30px;
}
.info__img {
  -o-object-fit: cover;
     object-fit: cover;
}
.info__content {
  flex-basis: 415px;
}
.info__text--width {
  max-width: 352px;
}
.info__table {
  position: relative;
  top: 20px;
  flex-basis: 450px;
  border-bottom: 1px solid var(--black);
}
.info__table::before {
  position: absolute;
  content: "";
  border-top: 1px solid var(--black);
  width: 100%;
  top: -20px;
}
.info__table td {
  padding-bottom: 20px;
}
@media screen and (width < 840px) {
  .info__part-textbox {
    display: block;
    padding-bottom: 15px;
  }
  .info__img {
    width: 100%;
  }
  .info__part {
    display: block;
    padding: 30px 0;
  }
  .info__text--width {
    max-width: 100%;
  }
  .info__table {
    width: 100%;
  }
}
@media screen and (width < 560px) {
  .info__table td:nth-child(2) {
    padding-left: 5px;
    padding-right: 5px;
  }
}

hr {
  background: var(--black);
  width: 279px;
  height: 1px;
}

.track {
  background-image: url(../images/portomio/bacground-track.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 47px;
}
.track__inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.track__text {
  max-width: 435px;
}
.track__img {
  margin: auto auto 90px auto;
}

.evo {
  margin-bottom: 100px;
}
.evo-black {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: var(--dark-grey);
  color: var(--white);
}
.evo-black__inner {
  position: relative;
}
.evo-black__inner::before {
  position: absolute;
  content: "";
  background-image: url(../images/evo/dec-1.svg);
  width: 185px;
  height: 213px;
  top: 192px;
  left: -180px;
}
.evo-black__inner::after {
  position: absolute;
  content: "";
  background-image: url(../images/evo/dec-2.svg);
  width: 498px;
  height: 572px;
  top: 261px;
  left: -40px;
}
.evo-black__info {
  display: flex;
  justify-content: space-between;
}
.evo-black__info .subtitle {
  margin-bottom: 0;
  padding-right: 30px;
}
.evo-black__infobox {
  flex-basis: 437px;
}
.evo-black__text:first-child {
  margin-bottom: 30px;
}
.evo-black__img {
  position: relative;
  margin: 200px auto 60px;
  z-index: 1;
}
.evo-black__descr-list {
  display: flex;
  justify-content: center;
  gap: 65px;
}
.evo-black__descr-list dd {
  text-transform: uppercase;
}
.evo-white__inner {
  padding-top: 125px;
  position: relative;
}
.evo-white__inner::before {
  position: absolute;
  content: "";
  background-image: url(../images/evo/dec-3.png);
  width: 274px;
  height: 257px;
  top: -36px;
  left: 380px;
}
.evo-white__inner::after {
  position: absolute;
  content: "";
  background-image: url(../images/evo/dec-4.png);
  width: 324px;
  height: 311px;
  top: 115px;
  left: 600px;
}
.evo-white__text:first-child {
  max-width: 285px;
  margin-bottom: 30px;
}
.evo-white__text:nth-child(2) {
  max-width: 437px;
  margin-bottom: 30px;
}
.evo-white__text:nth-child(3) {
  max-width: 590px;
}
.evo-white__video {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  background-image: url(../images/evo/evo-video.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 264px;
}
.evo-white__link {
  display: inline-block;
}
.evo-white__link span {
  display: block;
  color: var(--white);
}
.evo-white img {
  margin: 0 auto;
}
@media screen and (width < 969px) {
  .evo-black__descr-list {
    gap: 25px;
  }
  .evo-white__inner::after {
    display: none;
  }
}
@media screen and (width < 768px) {
  .evo-black {
    padding-top: 50px;
  }
}
@media screen and (width < 669px) {
  .evo-black__info {
    display: block;
  }
  .evo-black__infobox {
    margin-top: 20px;
  }
  .evo-black__descr-list {
    gap: 15px;
  }
  .evo-white__inner::before {
    display: none;
  }
}
@media screen and (width < 560px) {
  .evo-black__inner::after {
    display: none;
  }
  .evo .evo-white__inner {
    padding-top: 70px;
  }
  .evo-black__descr-list {
    display: block;
    text-align: center;
  }
  .evo-black__descr-list div:not(:last-child) {
    margin-bottom: 30px;
  }
  .evo-black-black__img {
    margin-top: 130px;
  }
}

.blog {
  margin-bottom: 100px;
}
.blog__slider {
  position: relative;
  padding-top: 50px;
  margin-bottom: 100px;
}
.blog .subtitle {
  margin-bottom: 80px;
}
.blog__item-img {
  margin-bottom: 20px;
}
.blog__item-title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  min-height: 46px;
}
.blog__item-text {
  margin-bottom: 10px;
}
.blog__item-link {
  font-size: 12px;
  color: var(--dark-grey);
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.blog__item-link:hover, .blog__item-link:focus {
  color: var(--gold);
}
.blog__button {
  position: absolute;
  top: 0;
  left: 50%;
  cursor: pointer;
}
.blog__button-svg {
  fill: var(--gold);
  color: var(--gold);
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.blog__button:hover .blog__button-svg {
  fill: var(--light-gold);
  color: var(--light-gold);
}
.blog__quote {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.blog__quote-box {
  max-width: 434px;
}
.blog__blockquote {
  margin-bottom: 30px;
}
.blog__blockquote-name {
  font-weight: 700;
}
.blog__blockquote-name span {
  display: block;
  font-size: 12px;
  color: var(--gold);
  margin-bottom: 3px;
}
.blog__blockquote-text {
  margin-top: 10px;
  padding-right: 10px;
  font-style: italic;
}
@media screen and (width < 768px) {
  .blog {
    margin-bottom: 50px;
  }
  .blog .subtitle {
    margin-bottom: 30px;
  }
  .blog__slider {
    margin-bottom: 50px;
  }
  .blog__item-img {
    width: 100%;
  }
  .blog__quote {
    flex-direction: column;
  }
  .blog__quote-box {
    flex-basis: auto;
  }
  .blog__quote-img {
    width: 100%;
    order: -1;
    margin: 0 auto;
  }
}

.footer {
  padding: 100px 0 80px;
  background-color: var(--dark-grey);
  color: var(--white);
}
.footer .subtitle {
  margin-bottom: 50px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer__info dl {
  margin-bottom: 50px;
}
.footer__info dd:not(:last-child) {
  margin-bottom: 10px;
}
.footer__info-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
}
.footer__info-link {
  font-size: 16px;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__info-link:hover, .footer__info-link:focus {
  color: var(--gold);
}
.footer__social-list {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer__social-link:hover .footer__social-svg, .footer__social-link:focus .footer__social-svg {
  fill: var(--gold);
}
.footer__social-svg {
  fill: var(--dark-grey);
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-svg--fill {
  fill: var(--white);
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address {
  flex-basis: 462px;
}
.footer__address-text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.125;
  margin-bottom: 20px;
}
.footer__bottom {
  margin-top: 86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__bottom-link {
  font-size: 14px;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__bottom-link:hover, .footer__bottom-link:focus {
  color: var(--gold);
}
@media screen and (width < 768px) {
  .footer {
    padding: 50px 0 30px;
  }
}
@media screen and (width < 669px) {
  .footer__top {
    display: block;
  }
}
@media screen and (width < 480px) {
  .footer__social-list {
    margin-bottom: 50px;
  }
  .footer__top {
    display: block;
  }
  .footer__bottom {
    display: block;
    text-align: center;
  }
  .footer__logo {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__logo img {
    margin: 0 auto;
  }
}

#map {
  height: 253px;
}

.swiper-button-left {
  transform: translateX(-41px);
}

.swiper-button-right {
  transform: translateX(8px);
}/*# sourceMappingURL=style.css.map */