.blog {
  margin-bottom: 100px;

  &__slider {
    position: relative;
    padding-top: 50px;
    margin-bottom: 100px;
  }

  & .subtitle {
    margin-bottom: 80px;
  }

  &__item-img {
    margin-bottom: 20px;
  }

  &__item-title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(23/20);
    text-transform: uppercase;
    min-height: 46px;
  }

  &__item-text {
    margin-bottom: 10px;
  }

  &__item-link {
    font-size: 12px;
    color: var(--dark-grey);
    @include transition ($transition-property: color);

    &:hover,
    &:focus {
      color: var(--gold);
    }
  }

  &__button {
    position: absolute;
    top: 0;
    left: 50%;
    cursor: pointer;

    &-svg {
      fill: var(--gold);
      color: var(--gold);
      @include transition ($transition-property: (color, fill));
    }

    &:hover &-svg {
      fill: var(--light-gold);
      color: var(--light-gold);

    }
  }

  &__quote {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__quote-box {
    min-width: 434px;
  }
  &__blockquote {
    margin-bottom: 30px;

    &-name {
      font-weight: 700;

      & span {
        display: block;
        font-size: 12px;
        color: var(--gold);
        margin-bottom: 3px;
      }
    }

    &-text {
      margin-top: 10px;
      padding-right: 10px;
      font-style: italic;
    }
  }

}