.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__container {
    max-width: 1200px;
    padding: 0 80px 0 25px;
  }

  &__menu-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 45px;
    height: 30px;
    border-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;

    & span {
      width: 100%;
      height: 3px;
      background-color: var(--black);
      @include transition ($transition-property: background-color);
    }

    &:hover span,
    &:focus span {
      background-color: var(--gold);
    }

  }

  &__menu-mobile {
    display: none;

    &.menu--open {
      padding-top: 100px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--dark-grey);
      z-index: 2;
      text-align: center;
    }
  }

  &__menu-list {
    display: flex;
    gap: 40px;
    padding-top: 25px;
  }

  &__menu-link {
    font-size: 16px;
    line-height: calc(18/16);
    color: var(--dark-grey);
    @include transition ($transition-property: color);

    &:hover,
    &:focus {
      color: var(--gold);
    }
  }

  @media screen and (width < 1100px) {
    &__container {
      padding: 0;
    }

    &__menu-list {
      display: none;
    }

    &__menu-mobile {
      display: flex;
      gap: 0 20px;
    }
  }

  @media screen and (width < 840px) {
    &__menu-btn {
      display: flex;
    }

    &__menu-mobile {
      display: none;
    }

    &__menu-link {
      padding: 20px 0;
      display: block;
      font-size: 3vh;
      color: var(--white);
    }
  }

  @media screen and (width < 560px) {
    &__menu-btn {
      width: 30px;
      height: 20px;
    }
  }

  @media screen and (width < 340px) {

    &__menu-link {
      padding: 15px 0;
    }
  }
}