.track {
  background-image: url(../images/portomio/bacground-track.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 47px;

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }


  &__text{
    max-width: 435px;
  }

  &__img {
    margin: auto auto 90px auto;
  }
}